body{
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color:black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.jumbotron {
  margin-bottom: 0;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  position: relative;
  background: url('../images/banner.png') no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.jumbotron h1{
    font-family: 'Syncopate';
    font-weight: bold;
    font-size: 6.5em;
    margin-top: 0px;
}

.jumbotron h2{
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 2em;
}

.col-md-4 i{
    display:block;
    text-align:center;
}

.centered{
  text-align: center;
}

.marginBelow{
  margin-bottom:3em;
}

.project{
  padding:20px;
  margin:0px;
  background:linear-gradient(130deg, #cc0000, #300000, #a30000);
  border:2px solid #dddddd;
  /*linear-gradient(180deg, #b3b3b3, #ffffff, #999999)*/
}

.project img{
  display:block;
  margin:auto;
  width:500px;
  height:300px;
}

.project p{
  text-align:center;
  color:white;
  font-size:20px;
}

.project h3{
  text-align:center;
  color:white;
  font-weight:bold;
}

.projectName{
  font-family:"Syncopate";
  padding-bottom:10px;
}

.projectSkills{
  font-style:italic;
  font-weight:bold;
}

.projectDesc{
  padding:20px;
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;

  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: 500ms;
  -webkit-transition: 500ms;
}

.projectDesc h3{
  position: relative;
  text-align: center;
  opacity: 0;
  background: transparent;
  transform: rotate(180deg) skew(100deg, 100deg);
  -webkit-transform: rotate(180deg) skew(100deg, 100deg);
  transition: 500ms;
  -webkit-transition: 500ms;
}

.projectDesc p{
  position: relative;
  text-align: center;

  opacity: 0;
  transform: rotate(180deg) skew(100deg, 100deg);
  -webkit-transform: rotate(180deg) skew(100deg, 100deg);
  transition: 500ms;
  -webkit-transition: 500ms;
}

.projectDesc i{
  display:block;
  color: #ffffff;
  text-align: center;
  font-size:30px;

  opacity: 0;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  transition: 500ms;
  -webkit-transition: 500ms;
}

.project:hover .projectDesc{
  opacity: 1;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transform: translateX(0px);
  -webkit-transform: translateX(100px);
}

.project:hover img{
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.project:hover h3{
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}

.project:hover p{
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.project:hover i{
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
}

#page_footer{
  padding:10px;
  text-align:center;
}

#title_heading{
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 6.5em;
}

#about_me {
  width:100%;
  margin-top: 0px;
  padding-top: 40px;
}

#about_me i {
  font-size: 60px;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 10px;
}

#about_me p{
  margin-left: 15px;
  margin-right: 15px;
}

#bg_about_me {
  padding:3em;
  background: linear-gradient(180deg, #0d0d0d, #262626, #1a1a1a);
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid #dddddd;
}

#bg_uni_projects {
  padding:3em;
  background: linear-gradient(180deg, #e6e6e6, #ffffff);
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid #dddddd;
  color:black;
}

#bg_personal_projects {
  padding:3em;
  background: linear-gradient(180deg, #e6e6e6, #ffffff);
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid #dddddd;
  color:black;
}

#bg_contact {
  padding:3em;
  background: linear-gradient(180deg, #0d0d0d, #262626, #1a1a1a);
  /*background-image: linear-gradient(180deg, #660000, #990000, #330000);*/
  margin-top: 0px;
  margin-bottom: 0px;
  color:white;
}

#bg_contact p {
  font-size:20px;
}

#subheadings {
  font-family: 'Raleway';
  font-weight: lighter;
  font-size: 80px;
}
