@import url(https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i);
$color-primary: #2188d1;
$color-secondary: #4a4a4a;
$color-dark: #343a40;
$color-light: #868e96;
$font-size-base: 1rem !default;
$margin-base: 0.3rem !default;
