@import url(https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700);
@import url(https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i);
$color-primary: #284f92;
$color-secondary: #4a4a4a;
$color-dark: #343a40;
$color-light: #868e96;
$color-white: #fff;
$color-black: #000;
$font-family-saira: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', sans-serif !default;
$font-family-muli: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif !default;
$font-size-base: 1rem !default;
$font-size-large: 6rem !default;
$font-size-medium: 3.5rem !default;
$font-size-small: 2rem !default;
$margin-base: 0.3rem !default;
$padding-base: 0.3rem !default;
