@import "./_variables";
.nameText {
  color: $color-primary;
}

.subText {
  color: $color-light;
  margin-top: 1rem;
}

.about {
  max-width: 44rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about p {
  font-size: 17px;
  font-family: "Muli", sans-serif;
}

.list {
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 230px));
  gap: 6px 10px;
  padding: 0;
  list-style: none;
  font-size: 15px;
  color: $color-primary;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.list li::before {
  content: "➤";
  left: 0px;
  margin-right: 5px;
  color: $color-primary;
  font-size: 14px;
  line-height: 12px;
}

.profile {
  margin-top: 80px;
  width: 300px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .profile {
    margin-top: 10px;
  }
  .list li {
    font-size: 14px;
  }
  .list li::before {
    font-size: 12px;
  }
  .about p {
    font-size: 16px;
  }
  .centerMd {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .list li {
    font-size: 13px;
  }
  .list li::before {
    font-size: 11px;
  }
}
