@import './_variables';
:global(section#contact h3) {
    letter-spacing: 0.1rem;
    margin-bottom: 0.2rem !important;
    font-weight: 600;
}

:global(section#contact form input),
:global(section#contact form textarea),
:global(section#contact form button) {
    font-size: 0.9rem;
}

.contactDiv {
    width: 100%;
    padding: 3rem;
}

.underLine {
    width: 5rem;
    height: 0.2rem;
    background-color: #0078ff;
    margin-bottom: 1rem !important;
}

.socialDiv .socialIcon {
    display: inline-block;
    height: 2.7rem;
    width: 2.7rem;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.7rem;
    margin-right: 0.4rem;
    margin-top: 1rem;
    transition: background-color 0.2s ease;
}

.socialDiv .github {
    background-color: #4a14a0;
}

.socialDiv .facebook {
    background-color: #344e86;
}

.socialDiv .linkedin {
    background-color: #1476a3;
}

.socialDiv .stackoverflow {
    background-color: #da6e17;
}

.socialDiv .github:hover {
    background-color: #671ddd;
}

.socialDiv .facebook:hover {
    background-color: #5278ca;
}

.socialDiv .linkedin:hover {
    background-color: #1399d8;
}

.socialDiv .stackoverflow:hover {
    background-color: #f78e39;
}
