@import "./_variables";

:global(section#contact h3) {
  letter-spacing: 0.1rem;
  margin-bottom: 0.2rem !important;
  font-weight: 600;
}

:global(section#contact form input),
:global(section#contact form textarea),
:global(section#contact form button) {
  font-size: 0.9rem;
}

.contactDiv {
  width: 100%;
  padding: 3rem;
}

.contactDiv p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.contactDiv input,
.contactDiv textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.contactDiv button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .contactDiv {
    padding: 1rem;
  }
}
