@import './_variables';
.resumeRow {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
    margin-bottom: 3rem !important;
}

@media (min-width: 768px) {
    .resumeRow {
        flex-direction: row !important;
    }
}

.resumeRow .resumeDate {
    min-width: 18rem;
    color: $color-primary;
}

@media (min-width: 768px) {
    .resumeRow .resumeDate {
        text-align: right !important;
    }
}

.jobTitle {
    color: $color-dark;
}

.company {
    color: $color-light;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.desc {
    padding-top: 1rem;
}
